*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'microsoft yahei', Courier, monospace
}
.ani-fade-enter-active,
.ani-fade-leave-active{
    transition: all .7s;
}
.ani-fade-enter,
.ani-fade-leave-active {
  transform: translate3d(0, -50px, 0);
  opacity: 0;
}